.page {
  &__title {
    padding: 12px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    max-width: 35%;
    text-overflow: ellipsis;
    position: relative;
    transition: max-width 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 50px;
      height: 100%;

      background: linear-gradient(
        to right,
        rgba(27, 28, 34, 0.2),
        #1b1c22 100%
      );
    }

    &:hover {
      max-width: 100%;
      &::after {
        display: none;
      }
    }
  }
}

.item {
  display: flex;
  flex-direction: column;
  padding: 40px;
  margin: 24px 0px;
  gap: 30px;
  background-color: #23242a;
  border-radius: 10px;
}
