button {
  padding: 4px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.medium {
  padding: 4px 10px;
}
.large {
  padding: 8px 20px;
}
.small {
  padding: 1px 4px;
}

.violet {
  background-color: #9551ff;
}
.aqua {
  background-color: #5ec7ff;
}
.blue {
  background-color: #4949ff;
}