<main class="container">
  <div class="page__title">
    <h2>Products/Cart</h2>
    <app-button
      *ngIf="arrCart.length"
      (click)="clearCart()"
      [theme]="'aqua'"
      [text]="'Remove All'"
    ></app-button>

  </div>
  <div class="cart__list" *ngIf="arrCart.length; else elseBlock">
    <app-cart-item *ngFor="let prod of arrCart" [productItem]="prod"></app-cart-item>
    <h2>Total Cost:</h2>
  </div>
  <ng-template #elseBlock
    ><h2 class="page__alert">Your Cart Is Empty!</h2></ng-template
  >
</main>
