.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.page {
  &__title {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__alert {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    flex-grow: 1;
  }

  &__total {
    display: flex;
    justify-content: flex-end;
    padding: 12px;
  }
}

.cart {
  &__list {
    margin: 24px 0;
  }
}

