button {
  padding: 4px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: all 300ms ease-in;

  &:hover {
    background-color: transparent;
    outline: 2px solid #fff;
    color: #fff;
  }

  &:active {
    transition: none;
    background-color: rgb(255, 255, 255, 0.1);
    color: #fff;
  }
}

.medium {
  padding: 4px 10px;
}
.large {
  padding: 8px 18px;
  font-size: 18px;
}
.small {
  padding: 1px 4px;
}

.violet {
  background-color: #9551ff;

  &:hover {
    outline: 2px solid #9551ff;
  }
}
.aqua {
  background-color: #5ec7ff;

  &:hover {
    outline: 2px solid #5ec7ff;
  }
}
.blue {
  background-color: #4949ff;

  &:hover {
    outline: 2px solid #4949ff;
  }
}

.full-width {
  width: 100%;
}
