button {
  padding: 4px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: all 300ms ease-in;
  color: var(--black);

  &:hover {
    background-color: transparent;
    outline: 2px solid var(--white);
    color: var(--white);
  }

  &:active {
    transition: none;
    background-color: rgb(255, 255, 255, 0.1);
    color: var(--white);
  }
}

.medium {
  padding: 4px 10px;
}

.large {
  padding: 8px 18px;
  font-size: 18px;
}

.small {
  padding: 1px 4px;
}

.violet {
  background-color: var(--purple-accent);

  &:hover {
    outline: 2px solid var(--purple-accent);
  }
}

.aqua {
  background-color: var(--aqua);

  &:hover {
    outline: 2px solid var(--aqua);
  }
}

.blue {
  background-color: var(--blue);

  &:hover {
    outline: 2px solid var(--blue);
  }
}

.full-width {
  width: 100%;
}
