<header class="header">
  <div class="header__container container">
    <nav class="header__nav">
      <a class="header__logo"
        ><span class="material-symbols-outlined"> shopping_bag </span>Store</a
      >
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="#" class="header__link"
            ><span class="material-symbols-outlined"> computer </span
            >Products</a
          >
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__link"
            ><span class="material-symbols-outlined">
              shopping_cart_checkout</span
            >Cart</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
