button {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

mat-icon {
  color: var(--light-gray);
}
