::ng-deep .mat-dialog-container {
  background-color: #23242a;
  color: inherit;
  border-radius: 5px;
  border: 1px solid #5f5f5f;
}

.modal {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
