.filter {
  &__bar {
    display: flex;
    background-color: var(--gray-bg);
    border-radius: 10px;
    padding: 4px 20px;
    justify-content: space-between;
  }

  &__price-or-date,
  &__search,
  &__sort {
    &:not(:first-child) {
      gap: 10px;
    }
    display: flex;
    padding: 4px;
    border-radius: 10px;
  }
}

app-button-menu {
  align-self: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}
