<div class="filter__bar">
  <mat-form-field class="filter__search">
    <mat-label>Search</mat-label>
    <input matInput #searchInput type="text" placeholder="Search..." />
  </mat-form-field>

  <div class="filter__price-or-date">
    <mat-form-field class="filter__option">
      <mat-label>
        {{ filterLabel[param] }}
      </mat-label>
      <mat-select
        [(value)]="priceOrDateFromVal"
        (selectionChange)="setInputDisabled($event)"
      >
        <mat-option>None</mat-option>
        <mat-option value="more">More than</mat-option>
        <mat-option value="less">Less than</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field [ngSwitch]="param" class="filter__params">
      <input
        *ngSwitchCase="'products'"
        [disabled]="inputDis"
        #priceInput
        matInput
        autocomplete="off"
        type="number"
        placeholder="Price..."
      />
      <input
        *ngSwitchCase="'users'"
        [disabled]="inputDis"
        #dateInput
        matInput
        type="date"
        placeholder="Date..."
      />
      <input
        *ngSwitchCase="'orders'"
        [disabled]="inputDis"
        #quantityInput
        matInput
        type="number"
        placeholder="Quantity..."
      />
    </mat-form-field>
  </div>

  <div class="filter__sort">
    <mat-form-field>
      <mat-label>Sort from...</mat-label>
      <mat-select
        [(value)]="sortFromVal"
        (selectionChange)="setSortFrom($event)"
      >
        <mat-option>None</mat-option>
        <mat-option value="less">Less</mat-option>
        <mat-option value="more">More</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Sort by...</mat-label>
      <mat-select
        [ngSwitch]="param"
        [(value)]="sortValue"
        [disabled]="selectDis"
        (selectionChange)="setSort($event)"
      >
        <mat-option>None</mat-option>
        <mat-option [value]="param === 'users' ? 'username' : 'name'"
          >Name</mat-option
        >
        <mat-option *ngSwitchCase="'users'" value="createdAt">Date</mat-option>
        <mat-option *ngSwitchCase="'products'" value="price">Price</mat-option>
        <mat-option *ngSwitchCase="'orders'" value="phone">Phone</mat-option>
        <!-- Check it when orders will exist! (There may be quantity) -->
        <mat-option value="id">Id</mat-option>
      </mat-select>
    </mat-form-field>

  </div>
  <app-button-menu
    [matMenuTriggerFor]="menu"
    aria-label="menu"
  ></app-button-menu>

  <mat-menu #menu="matMenu">
    <button (click)="resetConfig()" mat-menu-item>
      <mat-icon>sort</mat-icon>

      <span>Reset Filter</span>
    </button>
    <button
      *ngIf="param != 'orders'"
      (click)="openCreateDialog()"
      mat-menu-item
    >
      <mat-icon>add</mat-icon>
      <span>Create New</span>
    </button>
  </mat-menu>
</div>
