@import "../../../../styles/mixins.scss";

::ng-deep .mat-dialog-container {
  @include modal-general-theme;
}

.modal {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;

  &__form {
    display: flex;
    flex-direction: column;
  }
}

.mat-dialog-actions {
  justify-content: space-around;
}

.mat-dialog-content {
  overflow: inherit;
}
