@import "src/styles/mixins.scss";

.close-btn {
  @include burger-button;
  position: relative;
  display: flex;
  margin-left: auto;

  &::before,
  &::after {
    content: "";
    position: absolute;
    @include burger-line;
    left: 0;
  }

  &::before {
    top: 18px;
    rotate: -45deg;
  }

  &::after {
    bottom: 18px;
    rotate: 45deg;
  }
}
