.mdc-text-field--filled:not(.mdc-text-field--disabled),
.mdc-text-field--disabled.mdc-text-field--filled {
  background-color: #23242a;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: #c8c8c8;
}

.mat-mdc-form-field-subscript-wrapper {
  height: 0;
}
