:root {
  --black: #000;
  --black-transparent: #000000ed;
  --white: #fff;
  --red: #f41a1a;
  --light-purple: #b07eff;
  --purple-accent: #9551ff;
  --aqua: #5ec7ff;
  --blue: #4949ff;
  --dark-blue-bg: #23243a;
  --light-gray: #a1a1a1;
  --gray-text: #d1d1d1;
  --gray-border: #5f5f5f;
  --dark-gray-border: #303030;
  --dark-gray-bg: #1b1c22;
  --gray-bg: #23242a;
}
