<div class="table">
  <ul class="table__list">
    <li *ngFor="let elem of data" class="table__item item">
      <div class="item__title-wrapper">
        <h4 class="item__title">
          Name: {{ typeOfTable === "users" ? elem.username : elem.name }}
        </h4>
        <h4 class="item__phone" *ngIf="typeOfTable === 'orders'">
          Phone: {{ elem.phone }}
        </h4>
      </div>
      <div class="item__order" *ngIf="typeOfTable === 'orders'">
        <h3>Order:</h3>
        <ul class="item__order-details">
          <li class="item__order-elem test" *ngFor="let prod of elem.products">
            <h4>Product: {{ prod.name }},</h4>
            <h4>Count: {{ prod.quantity }},</h4>
            <h4>Id: {{ prod.id }}</h4>
          </li>
        </ul>
      </div>
      <div class="item__info-wrapper">
        <div class="item__info">
          <h3 *ngIf="typeOfTable === 'products'" class="item__price">
            Price: {{ elem.price | UAH }}
          </h3>
          <h3 *ngIf="typeOfTable === 'users'" class="item__date">
            Date: {{ elem.createdAt }}
          </h3>
          <h3 *ngIf="elem.message" class="item__message">
            Message: {{ elem.message }}
          </h3>

          <h3 class="item__id">Id: {{ elem.id }}</h3>
        </div>
        <div class="item__buttons">
          <app-button
            (click)="openEditDialog(elem)"
            [theme]="'aqua'"
            [text]="'Edit'"
          ></app-button>
          <app-button
            (click)="openWarnDialog(elem)"
            [text]="'Delete'"
          ></app-button>
        </div>
      </div>
    </li>
  </ul>
</div>
