.wrapper {
  padding: 30px;
  border-top: 1px solid var(--light-gray);
}

.title {
  padding: 12px;
}

.form {
  &__errors {
    font-size: 14px;
    color: rebeccapurple;
    position: relative;
  }

  &__error {
    position: absolute;
    top: 15px;
  }

  &__label {
    color: rebeccapurple;
    font-size: 15px;
    position: absolute;
    bottom: 80px;
    left: 60px;
  }
}

.order {
  &__form-control {
    background-color: var(--gray-bg);
    padding: 10px;
    border-radius: 10px;
  }

  &__form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 30px;
    max-width: 400px;
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  background-color: var(--gray-bg);
  padding: 10px;
  border-radius: 10px;
  justify-content: space-between;
  gap: 10px;
}

@media (min-width: 420px) {
  .button-container {
    flex-direction: row;
    gap: 0px;
  }
}
