<div class="wrapper">
  <h2 class="title">Please, fill out the order form</h2>
  <form [formGroup]="form" class="order__form">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input (change)="setOrderInLocal()" formControlName="name" matInput />
      <div
        class="form__errors"
        *ngIf="nameForm?.invalid && (nameForm?.touched || nameForm?.dirty)"
      >
        <span class="form__error" *ngIf="nameForm?.errors?.['required']"
          >Required field</span
        >
        <span class="form__error" *ngIf="nameForm?.errors?.['pattern']"
          >Name must have only english letters</span
        >
      </div>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Phone</mat-label>
      <input (change)="setOrderInLocal()" formControlName="phone" matInput />
      <div
        class="form__errors"
        *ngIf="phoneForm?.invalid && (phoneForm?.touched || phoneForm?.dirty)"
      >
        <span class="form__error" *ngIf="phoneForm?.errors?.['required']"
          >Required field</span
        >
        <span class="form__error" *ngIf="phoneForm?.errors?.['pattern']"
          >Phone number must have only numbers</span
        >
      </div>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Message</mat-label>
      <input (change)="setOrderInLocal()" formControlName="message" matInput />
    </mat-form-field>
    <mat-label class="form__label" *ngIf="showLabel"
      >Please, fill the form correctly and retry</mat-label
    >
    <div class="button-container">
      <app-button
        [text]="'Order later'"
        [otherStyles]="'full-width'"
        (clickHandler)="hideClick.emit()"
      ></app-button>
      <app-button
        [buttonType]="'submit'"
        [text]="'Submit form'"
        [otherStyles]="'full-width'"
        (click)="createOrder()"
        [theme]="'aqua'"
      ></app-button>
    </div>
  </form>
</div>
