<div class="modal">
  <h1 mat-dialog-title *ngIf="modalType === 'edit'">Edit object</h1>
  <h1 mat-dialog-title *ngIf="modalType === 'create'">Create object</h1>

  <div *ngIf="modalType === 'delete'" mat-dialog-title>
    <svg class="modal__icon-warning">
      <use href="assets/sprite.svg#icon-warning"></use>
    </svg>
  </div>

  <div mat-dialog-content>
    <form *ngIf="modalType !== 'delete'" [formGroup]="form" class="modal__form">
      <mat-form-field *ngFor="let key of keys">
        <mat-label>{{ key }}</mat-label>
        <input [formControlName]="key" matInput />
      </mat-form-field>
    </form>

    <h1 *ngIf="modalType === 'delete'" mat-dialog-content>
      You will delete object #{{ data.id }}. Continue?
    </h1>

    <div mat-dialog-actions>
      <app-button
        mat-button
        [theme]="'aqua'"
        [text]="'Cancel'"
        (click)="onNoClick()"
      ></app-button>
      <app-button mat-button [text]="'Okay'" (click)="onNoClick()"></app-button>
    </div>
  </div>
</div>
