<div class="modal">
  <h1 mat-dialog-title *ngIf="modalType === 'edit'; else deleteTitle">
    Edit product
  </h1>
  <ng-template #deleteTitle>
    <div mat-dialog-title>
        <svg class="modal__icon-warning">
            <use href="assets/sprite.svg#icon-warning"></use>
        </svg>
    </div>
  </ng-template>
  <div mat-dialog-content>
    <form
      *ngIf="modalType === 'edit'; else deleteContent"
      [formGroup]="form"
      class="modal__form"
    >
      <mat-form-field *ngFor="let key of keys">
        <mat-label>{{ key }}</mat-label>
        <input [formControlName]="key" matInput />
      </mat-form-field>
    </form>
    <ng-template #deleteContent>
        <h1 mat-dialog-content>You will delete object #{{ data.id }}. Continue?</h1>
    </ng-template>
    <div mat-dialog-actions>
      <app-button
        mat-button
        [theme]="'aqua'"
        [text]="'Cancel'"
        (click)="onNoClick()"
      ></app-button>
      <app-button mat-button [text]="'Okay'"></app-button>
      <!-- <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button> -->
    </div>
  </div>
</div>
