<div class="wrapper">
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item">
        <div class="nav__logo"></div>
      </li>
      <li class="nav__item" *ngFor="let link of navData">
        <a
          class="nav__link"
          [routerLink]="['/administration' + link.route]"
          routerLinkActive="nav__link-active"
          >{{ link.page }}</a
        >
      </li>
    </ul>
    <a routerLink="/" (click)="removeToken()" class="link-logo">
      <app-svg-icon fill="var(--white)" path="icon-logout"></app-svg-icon>
      LogOut</a
    >
    <a routerLink="/" class="link-logo">
      <app-svg-icon fill="var(--white)" path="icon-home"></app-svg-icon>
      Go Back</a
    >
  </nav>
</div>
