.wrapper {
  padding: 30px;
  height: 100%;
}

.nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 20px;

  &__list {
    flex-grow: 1;
  }

  &__logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--gray-bg);
    margin-bottom: 20px;
  }

  &__link {
    display: flex;
    padding: 10px;
    font-size: 24px;
  }

  &__link-active {
    transition: all 500ms ease;
    color: var(--light-purple);
    background-color: var(--gray-bg);
    border-radius: 5px;
  }
}
