.container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-table {
  flex: 1 1 auto;
}

.users {
  &__title {
    padding: 12px;
  }
}

.spinner__wrapper {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 58%;
}

.mat-paginator {
  background-color: #23242a;
  border-radius: 10px;
  color: #a1a1a1;
  width: 300px;
  align-self: flex-end;
}

::ng-deep .sort-field {
  color: #fff;
}
