<div class="container">
  <h2 class="users__title">Users</h2>
  <ng-container *ngIf="loading$ | async; else table">
    <div class="spinner__wrapper">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
  </ng-container>
  <ng-template #table>
    <app-filter-bar [param]="dataName"></app-filter-bar>
    <app-table
      *ngIf="dataLength"
      [typeOfTable]="dataName"
      [data]="data"
    ></app-table>
    <mat-paginator
      class="admin__pagination"
      *ngIf="dataLength; else anyRes"
      [pageIndex]="pageIndex"
      [hidePageSize]="true"
      [length]="dataLength"
      (page)="changePage($event)"
      [pageSize]="5"
      aria-label="Select page"
    >
    </mat-paginator>
    <ng-template #anyRes>
      <h4 class="search-title">The search has not given any results.</h4>
    </ng-template>
  </ng-template>
</div>
