<div class="container">
  <div class="login">
    <h1>Login</h1>
    <form [formGroup]="form" class="login__form">
      <mat-form-field>
        <mat-label>Login</mat-label>
        <input formControlName="username" matInput />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input formControlName="password" type="password" matInput />
      </mat-form-field>
      <mat-label class="error__label" *ngIf="showLabel"
        >Your login or password is incorrect. Please, retry.</mat-label
      >
    </form>

    <div class="login__buttons">
      <app-button
        routerLink="/products"
        [text]="'Cancel'"
      ></app-button>
      <app-button
        (click)="makeAuthRequest()"
        [theme]="'aqua'"
        [text]="'Login'"
      ></app-button>
    </div>
  </div>
</div>
