::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label,
::ng-deep .mat-input-element::-webkit-input-placeholder {
  color: #a1a1a1;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline,
::ng-deep
  .mat-form-field-appearance-legacy.mat-form-field-disabled
  .mat-form-field-underline {
  background-color: #a1a1a1 !important;
}

.container {
  min-height: 100%;
  display: flex;
  margin: auto;
}

.error {
  &__label {
    font-size: 14px;
    color: red;
  }
}

.login {
  margin: auto;
  display: flex;
  min-width: 450px;
  height: 500px;
  padding: 40px;
  background-color: #23242a;
  border-radius: 10px;
  outline: 1px solid #5f5f5f;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 80px;

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
  }
}
