<!-- <router-outlet></router-outlet> -->
<div class="wrapper">
  <header class="header" role="banner">
    <div class="header__container container">
      <a class="header__logo"
        ><span class="material-symbols-outlined"> shopping_bag </span>Store</a
      >
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="header__nav-item">
            <a href="#" class="header__link"
              ><span class="material-symbols-outlined"> computer </span
              >Products</a
            >
          </li>
          <li class="header__nav-item">
            <a href="#" class="header__link"
              ><span class="material-symbols-outlined">
                shopping_cart_checkout</span
              >Cart</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <main class="main" role="main">
    <div class="products__container container">
      <h2 class="products__title">Products</h2>
      <div class="products__wrapper">
        <div *ngFor="let prod of data" class="products__item item">
          <h3 class="item__title">
            {{ prod.name }}
          </h3>
          <h4 class="item__price">
            {{ prod.price | currency }}
          </h4>
          <button class="btn__add btn" type="button">Add To Cart</button>
        </div>
      </div>
      <div class="products__btn-wrapper">
        <button
          *ngIf="data"
          class="products__btn-load btn__load btn"
          type="button"
        >
          Load More
        </button>
      </div>
    </div>
  </main>
  <footer class="footer" role="contentinfo">
    <div class="footer__container container">
      <a href="#" class="footer__link"
        ><span class="material-symbols-outlined"> login </span>Admin</a
      >
    </div>
  </footer>
</div>
