<div class="container">
  <h1 class="page__title">Welcome To The Shop!</h1>
  <ng-container *ngIf="loading$ | async">
    <div class="spinner__wrapper">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
  </ng-container>
  <div class="products__list">
    <h2 class="page__subtitle">Some of our many products...</h2>
    <div class="products__wrapper">
      <app-product-item
        *ngFor="let prod of slicedData"
        [productItem]="prod"
      ></app-product-item>
    </div>
  </div>
  <app-button
    *ngIf="slicedData"
    class="go-button"
    routerLink="/products"
    text="Go Shopping!"
    theme="aqua"
  ></app-button>
</div>
