.main {
  flex-grow: 1;
}

.products {
  &__title {
    padding: 12px;
  }

  &__wrapper {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, 280px);
    gap: 20px 26.5px;
    margin: 24px 0px;
  }

  &__btn-load {
    margin: 0 auto;
  }

  &__btn-wrapper {
    display: flex;
    align-items: center;
  }
}

.btn {
  &__load {
    color: #1b1c22;
    background-color: #5ec7ff;
  }
}
