.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding-bottom: 20px;
  background-color: #23242a;
  border-radius: 5px;
  gap: 10px;
  max-width: 280px;

  &__title {
    font-weight: 400;
  }
}

.swiper {
  width: 280px;
  height: 280px;
  &-slide {
    display: flex;
    justify-content: center;
    img {
      transform: scale(0.75);
      border-radius: 5px;
    }
  }

  --swiper-pagination-color: #9551ff;
}
