.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--gray-bg);
  border-radius: 5px;
  height: 200px;
  max-width: 280px;

  &__title {
    font-weight: 400;
  }

  &__fav-btn {
    border: none;
    display: flex;
    padding: 4px;
    background-color: var(--purple-accent);
    border-radius: 4px;
    transition: all 300ms ease-in;

    &:hover {
      background-color: transparent;
      outline: 2px solid var(--purple-accent);
      color: var(--white);

      & > .product-item__icon {
        stroke: var(--white);
      }

      & > .liked {
        fill: var(--white);
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__icon {
    fill: none;
    stroke: var(--black);
    transition: all 300ms ease-in;
    width: 24px;
    height: 24px;
  }

  .liked {
    fill: var(--black);
  }
}
