@import "src/styles/mixins.scss";

.modal {
  @include modal-general-theme;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 20px;

  &__content {
    color: var(--light-gray);
    line-height: 1.3;
    font-family: inherit;
  }

  &__icon-warning {
    fill: var(--light-gray);
    width: 150px;
    margin: 0 auto;
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
  }
}
