<app-open-btn (click)="toggleMenu()" />

<div [ngClass]="{ opened: isOpen }" class="navbar">
  <div class="navbar__head">
    <h2 class="navbar__title">
      <svg class="navbar__icon">
        <use href="assets/sprite.svg#icon-box"></use></svg
      >OnStore
    </h2>
    <app-close-btn (click)="toggleMenu()" />
  </div>

  <div (click)="toggleMenu()" routerLink="/login" class="navbar__login login">
    <div class="login__image">
      <svg class="navbar__icon">
        <use href="assets/sprite.svg#icon-user"></use>
      </svg>
    </div>
    <h3>Sign In (for admin)</h3>
  </div>

  <nav class="navbar__nav">
    <ul class="navbar__list">
      <li class="navbar__item" *ngFor="let link of routesData">
        <a
          [routerLink]="[link.route]"
          class="navbar__link"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="navbar__link_active"
          (click)="toggleMenu()"
        >
          <svg *ngIf="link.iconPath" class="navbar__icon">
            <use [attr.href]="'assets/sprite.svg#' + link.iconPath"></use>
          </svg>
          {{ link.page }}
        </a>
      </li>
    </ul>
  </nav>
</div>

<div *ngIf="isOpen" (click)="toggleMenu()" class="navbar__overlay"></div>
