<header #header class="header">
  <div class="container">
    <nav class="header__nav">
      <a [routerLink]="['/']" class="header__logo"
        ><span class="material-symbols-outlined"> shopping_bag </span>Store</a
      >
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a [routerLink]="['/products']" class="header__link"
            ><span class="material-symbols-outlined"> computer </span
            >Products</a
          >
        </li>
        <li
          (mouseenter)="onHover()"
          (mouseleave)="onLeave()"
          class="header__nav-item"
        >
          <a
            [routerLink]="['/products/cart']"
            (click)="onLeave()"
            class="header__link"
            ><span class="material-symbols-outlined">
              shopping_cart_checkout</span
            >Cart</a
          >
          <app-cart-modal
            (mouseClick)="onLeave()"
            [className]="modalClassName"
          ></app-cart-modal>
          <div *ngIf="counter" class="header__cart-counter">
            {{ counter > 10 ? "10+" : counter }}
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>
