@media (min-width: 320px) {
  .header {
    transition: all 500ms ease-in 0s;
    background-color: #0f0f10;

    &__nav {
      display: flex;
      justify-content: space-between;
      gap: 30px;
    }

    &__cart-counter {
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background-color: #9551ff;
      position: absolute;
      text-align: center;
      top: 3px;
      right: 0px;
      line-height: 20px;
      color: #23242a;
      font-size: 14px;
      transition: all 500ms ease-in;
    }

    &__nav-list {
      display: flex;
      gap: 40px;
    }
  }

  .container {
    position: relative;
  }
}

@media (min-width: 768px) {
  .header {
    &__cart-counter {
      top: 5px;
      right: 30px;
    }
  }
}

@media (min-width: 1200px) {
  .header {
    &__cart-counter {
      right: -20px;
    }
  }
}
