.item {
  padding: 15px 20px;
  background-color: #23242a;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;

  &__title {
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
  }

  &__link {
    font-weight: 600;
  }

  &__prod-count {
    display: flex;
    gap: 15px;
  }

  &__interface-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__interface {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    min-width: 230px;
  }
}
