@import "./styles/reset.scss";
@import "./styles/typography.scss";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

$purple: #9551ff;
$aqua: #5ec7ff;
$red: #f41a1a;

body {
  font-family: "Raleway";
  font-weight: 400;
  background-color: #1b1c22;
  color: #fff;
}

app-store {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

app-administration {
  min-height: 100%;
  display: flex;
}

app-products, app-users {
  flex-grow: 1;
}

app-side-bar {
  background-color: #000;
  min-height: 100%;
  width: 270px;
}

app-product-list,
app-product-details,
app-page-not-found,
app-page-forbidden,
app-page-unathorized,
app-welcome-page,
app-cart {
  flex: 1 1 auto;
  min-height: 100%;
}

app-page-not-found,
app-page-forbidden,
app-page-unathorized,
app-cart {
  display: flex;
}

a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.material-symbols-outlined {
  padding-bottom: 2px;
}

@media (min-width: 320px) {
  .container {
    padding: 20px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 1200px;
    padding: 20px 50px;
    margin: 0 auto;
  }
}

@media (min-width: 1300px) {
  .container {
    padding: 20px 0;
  }
}
