@import "./styles/reset.scss";
@import "./styles/typography.scss";

body {
  font-family: "Raleway";
  font-weight: 400;
  background-color: #1b1c22;
  color: #fff;
}

app-products {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

app-products,
app-product-list,
app-product-details,
app-page-not-found,
app-cart {
  flex: 1 1 auto;
  min-height: 100%;
}

app-page-not-found, app-cart {
  display: flex;
}

a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.material-symbols-outlined {
  padding-bottom: 2px;
}

@media (min-width: 320px) {
  .container {
    padding: 20px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 1200px;
    padding: 20px 50px;
    margin: 0 auto;
  }
}

@media (min-width: 1300px) {
  .container {
    padding: 20px 0;
  }
}
