@import "src/styles/mixins.scss";

.products {
  &__title {
    padding: 12px;
  }

  &__wrapper {
    @include table-grid;
  }

  &__btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.spinner__wrapper {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
