<main class="container">
  <h2 class="products__title">Products</h2>
  <ng-container *ngIf="loading$ | async; else prodList">
    <div class="spinner__wrapper">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
  </ng-container>
  <ng-template #prodList></ng-template>
  <div class="products__wrapper">
    <app-product-item
      *ngFor="let prod of productsData"
      [productItem]="prod"
    ></app-product-item>
  </div>
  <div class="products__btn-wrapper">
    <app-button
      theme="aqua"
      text="Load More"
      *ngIf="productsData.length && buttonDis"
      (click)="loadMore(8)"
    ></app-button>
    <ng-container *ngIf="!buttonDis">
      <h4>All products is loaded!</h4>
    </ng-container>
  </div>
</main>
