.products {
  &__title {
    padding: 12px;
  }

  &__wrapper {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, 280px);
    gap: 20px 26.5px;
    margin: 24px 0;
  }

  &__btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.spinner__wrapper {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
